<div>
  <%= image_tag "Platform Ground  Logo.png"%>
  <p> Welcome <%= @user.email %> </p>
  <ul>
    <% @emails.each do |email| %>
    <li>
      <%= email.first_name %>
    </li>
    <% end %>
  </ul>
</div>
